@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

main {
    margin-top: 2%;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

.pkm_img1 {
    position: absolute;
    bottom: 55%;
    left:57.5%;
    transform: translate(63%, 20%);
    height: 28%;
}

.pkm_img2 {
    position: absolute;
    left: 20%;
    top: 42%;
}